body{
    background-color: #DCDCDC;
    font-family: Trebuchet MS, sans-serif;
}

h1{
    color: #4B0082;
    text-align: center;
}

.conteudo{
    text-align: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;


}

.caixa{
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 20%;
    padding-left: 20%;
    background-color: #c0c0c0;
}

button{
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    background-color: #4B0082;

}

button:hover{
    background-color: #393939;
    padding: 11px 51px;
    width: 202px;
}


#icone {
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

#check{
    display: none;
    background-color: #f00;
}

.barra{
    background-color: #333;
    height: 100%;
    width: 300px;
    position: absolute;
    left: -300px;
    transition: all .2s linear;
}

.barra .link{
    list-style: none;
    background-color: #494950;
}

nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
}

.link{
    color: #f4f4f9;
    font-family: 'Arial';
    font-size: 12pt;
    padding: 20px;
    border-bottom: 2px solid #222;
    transition:  all .2s linear;
    opacity: 0;
    margin-top: 200px;
}
.link:hover{
    background-color: #393939;
}

#check:checked ~ .barra nav a .link{
        opacity: 1;
        margin-top: 0;
        transition-delay: .2s;
}
#check:checked ~ .barra{
        transform: translateX(300px);

}

.linha{
display: flex;
flex-flow: row wrap;
}

.coluna-33 {
   width: 33%;
}

.imagemserie {
    width: 20%;
    height: 20%;
}

.classificarserie{
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 8px;
    padding: 8px 8px;
    cursor: pointer;
    font-weight: bold;
    width: 90px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    background-color: #4B0082;
}

.form {
    font-family: 'Arial';
    font-size: 13pt;
    text-align: center;
}

input {
    outline: none;
}

#divBusca{
  background-color:#c0c0c0;
  border:solid 1px;
  border-radius:15px;
  width:250px;
  text-align: center;
  float: right;

}

#txtBusca{
  background-color:transparent;
  font-size:15px;
  border:none;
  height:20px;
  width:200px;
}

.perfil_serie{
    color: white;
    margin-left: 8%;
}